.loading_ssr{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notfound_ssr{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.notfound_link{
    padding: 10px;
    color: #FFFFFF;
    background-color: #070D0D;
    transition: all 0.3s ease;
}

.notfound_link:hover{
    color: #070D0D;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}