.footer_layout{
    background-color: #EDECEB;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.footer_wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}

.footer_div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}